<template>
  <div class="columns">
    <div
      class="column
        is-half-desktop
        is-offset-one-quarter-desktop
        is-8-tablet
        is-offset-2-tablet"
    >
      <LoginForm v-on:logon="onLogon" />
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import LoginForm from '../components/LoginForm.vue';

export default {
  components: {
    LoginForm,
  },
  mounted() {
    if (this.isLoggedOn) this.onLogon();
  },
  computed: {
    ...mapGetters('auth', ['isLoggedOn']),
  },
  methods: {
    onLogon() {
      if (this.$route.query && this.$route.query.next) {
        this.$router.push({ path: this.$route.query.next });
      } else {
        this.$router.push({ name: 'home' });
      }
    },
  },
  watch: {
    isLoggedOn(newValue) {
      if (newValue) this.onLogon();
    },
  },
};
</script>
