<template>
  <div v-if="error === null">
    <h1 class="title">Déconnexion…</h1>
    <span class="button is-white is-large is-loading"></span>
  </div>
  <div class="notification is-error" v-else>
    {{ error }}
  </div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  data: () => ({
    error: null,
  }),
  methods: {
    ...mapActions('auth', ['logout']),
    goodbye() {
      this.logout().then(() => {
        if (this.$route.query && this.$route.query.next) {
          this.$router.push({ path: this.$route.query.next });
        } else {
          this.$router.push({ name: 'home' });
        }
      }).catch((error) => { this.error = error; });
    },
  },
  mounted() {
    this.goodbye();
  },
  beforeRouteEnter(to, from, next) {
    return next((vm) => { vm.goodbye(); });
  },
};
</script>


<style scoped>
div {
  text-align: center;
}
</style>
