<template>
  <section class="has-text-centered">
    <header class="title is-size-4">
      <i
        :class="'icon-' + icon"
        :style="`color: ${color}`"
        v-if="icon"
      ></i>
      {{ name }}
    </header>
    <div class="field measured">
      <label class="label">Valeur mesurée</label>
      <output>{{ value|asMilliwatts }}</output>
    </div>
    <div class="field scaled">
      <label class="label">Équivalent pour une maison</label>
      <output>{{ scaled|asWatts }}</output>
    </div>
    <Equivalents :value="scaled / 1000" v-if="scaled > 0" />
  </section>
</template>

<script>
import Equivalents from './Equivalents.vue';

export default {
  components: {
    Equivalents,
  },
  props: {
    name: {
      type: String,
      required: true,
    },
    icon: {
      type: String,
      default: '',
    },
    color: {
      type: String,
      default: 'black',
    },
    ratio: {
      type: Number,
      required: true,
    },
    value: {
      type: Number,
      required: true,
    },
  },
  filters: {
    asMilliwatts: value => `${value.toFixed(2)} mW`,
    asWatts: value => `${(value / 1000).toFixed(2)} W`,
  },
  computed: {
    scaled() {
      return this.value * this.ratio;
    },
  },
};
</script>

<style lang="scss" scoped>
.measured {
  line-height: 1;
  margin-bottom: 1rem;
  output {
    font-size: 2rem;
  }
}
.scaled {
  line-height: 1;
  output {
    font-size: 3rem;
    font-weight: bold;
  }
}
</style>
