<template>
  <div class="dropdown" :class="{ 'is-active': opened }">
    <div class="dropdown-trigger">
      <button class="button" v-on:click="opened = !opened">
        <span>
          <i :class="`icon-${displayedEquivalent.icon}`" v-if="displayedEquivalent.icon"></i>
          {{ displayedEquivalent.value.toFixed(2) }} {{ displayedEquivalent.text }}
        </span>
        <i class="icon-down"></i>
      </button>
    </div>
    <div class="dropdown-menu">
      <div class="dropdown-content">
        <span class="dropdown-item" v-for="(equiv, i) in otherEquivalents" :key="i">
          <i :class="`icon-${equiv.icon}`" v-if="equiv.icon"></i>
          {{ equiv.value.toFixed(2) }} {{ equiv.text }}
        </span>
      </div>
    </div>
  </div>
</template>

<script>
import { EQUIVALENTS } from '../config';

export default {
  props: {
    value: {
      type: Number,
      required: true,
    },
  },
  data: () => ({
    opened: false,
  }),
  computed: {
    equivalents() {
      return EQUIVALENTS.map(equiv => ({
        ...equiv,
        value: equiv.ratio(this.value),
      }));
    },
    displayedEquivalent() {
      return this.equivalents[0];
    },
    otherEquivalents() {
      return this.equivalents.slice(1);
    },
  },
};
</script>

<style lang="scss" scoped>
.button {
  min-height: 2.5em;
  height: auto;
  white-space: normal;
}
.dropdown, .button {
  text-align: left;
  justify-content: space-between;
  &, .dropdown-trigger {
    width: 100%;
  }
  .dropdown-menu {
    min-width: 100%;
  }
}
</style>
