<template>
  <div id="app">
    <nav class="navbar is-light">
      <div class="navbar-brand">
        <router-link class="navbar-item" :to="{ name: 'home' }" exact-active-class="">
          <i class="icon-flash"></i>
          WattSim
        </router-link>

        <a
          class="navbar-burger burger"
          :class="{'is-active': burger}"
          v-on:click="toggleBurger"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-menu" :class="{'is-active': burger}" v-if="error === null">
        <div class="navbar-start" v-if="isLoggedOn">
          <router-link class="navbar-item" :to="{ name: 'station' }">
            Ma station
          </router-link>
        </div>
        <div class="navbar-end">
          <template v-if="isLoggedOn">
            <span class="navbar-item">
              <i class="icon-user"></i>
              {{ user.username }}
            </span>
            <div class="navbar-item">
              <router-link class="button is-outlined" :to="{ name: 'logout' }">
                <i class="icon-logout"></i>
                Déconnexion
              </router-link>
            </div>
          </template>
          <div class="navbar-item" v-else>
            <router-link class="button is-primary" :to="{ name: 'login' }">
              <i class="icon-login"></i>
              Connexion
            </router-link>
          </div>
        </div>
      </div>
    </nav>
    <main class="container">
      <div class="notification is-danger" v-if="error !== null">
        {{ error }}
      </div>
      <router-view v-else />
    </main>
  </div>
</template>

<script>
import { mapState, mapActions, mapGetters } from 'vuex';

export default {
  data: () => ({
    burger: false,
    error: null,
  }),
  methods: {
    ...mapActions('auth', ['getUser']),
    toggleBurger() {
      this.burger = !this.burger;
    },
  },
  computed: {
    ...mapState('auth', ['user']),
    ...mapGetters('auth', ['isLoggedOn', 'hasAuthInfo']),
  },
  mounted() {
    if (!this.hasAuthInfo) {
      this.getUser().catch((error) => {
        this.error = error;
      });
    }
  },
};
</script>

<style scoped>
main.container {
  margin-top: 1rem;
}
nav.navbar {
  border-radius: 0;
}
.navbar-brand .navbar-item {
  font-size: 150%;
}
</style>
